@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@model SosyalEtkinlikWEB.Entities.Kullanici
@{
    ViewData["Title"] = "KullaniciGuncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form asp-controller="Kullanici" asp-action="KullaniciGuncelle" class="form-group" method="post">
    <h2>Bilgilerinizi Güncelleyiniz;</h2>
    <a href="@Url.Action("EKcevirici",new {id=Model.Kid})"><input type="button" class="btn btn-danger pull-right" value="Geri Dön" /></a>
    <table>
        <tr>
            <th>
                <label asp-for="Kid"></label>
            </th>
            <td>
                <input asp-for="Kid" class="form-control" readonly />
            </td>
        </tr>
        <tr>
            <th>
                <label asp-for="KAd">Adınız :</label>
            </th>
            <td>
                <input asp-for="KAd"  class="form-control" required maxlength="50"/>
                @Html.ValidationMessageFor(m => m.KAd, "", new { @style = "color:blue" })
            </td>
        </tr>
        <tr>
            <th>
                <label asp-for="KSoyad">Soyadınız :</label>
            </th>
            <td>
                <input asp-for="KSoyad"  class="form-control" required maxlength="50"/>
                @Html.ValidationMessageFor(m => m.KSoyad, "", new { @style = "color:blue" })
            </td>
        </tr>
        <tr>
            <th>
                <label asp-for="KEmail">E-mail Adresiniz :</label>
            </th>
            <td>
                <input type="email" asp-for="KEmail"  class="form-control" required maxlength="50"/>
                @Html.ValidationMessageFor(m => m.KEmail, "", new { @style = "color:blue" })
            </td>
        </tr>
        <tr>
            <th>
                <label asp-for="KSifre">Şifreniz :</label>
            </th>
            <td>
                <input asp-for="KSifre"  class="form-control" required maxlength="50" />
                @Html.ValidationMessageFor(m => m.KSifre, "", new { @style = "color:blue" })
            </td>
        </tr>
        <tr>
            <th></th>
            <th><button type="submit" class="btn btn-success" style="margin-top:15px">Bilgilerimi Güncelle</button></th>
        </tr>
    </table>
</form>